a.nav-link.instagram:hover {
    color: #fa06ad;
    }
    
    a.nav-link.github:hover {
        color: #000000;
    }
    
    a.nav-link.whatsapp:hover {
        color: #05ec20;
    }
    
    a.nav-link.sesion:hover {
        color: #059bec;
    }